a {
    cursor: progress;
    margin: 20px;
    padding: 10px;

}

a:visited {
     color: purple;
}

a:active {
    color: red;
}

a:hover {
    background-color: blue;
    color: white;
}